/* base styles */
  :root {
    font: 16px/135% Helvetica;
    background: linear-gradient(aquamarine, dodgerblue);
  }

  body {
    margin: 0 auto;
    position: relative;
    display: table;
    min-height: 100vh;
    background: #eee;
    padding: 0 2em 5em 2em;
    box-sizing: border-box;
  }

/* post styles */

article.post:not(.edit) section.post.edit {
  display: none;
}

/* general semantic grid areas */
  .holygrail header {
    grid-area: header;
  }

  .holygrail footer {
    grid-area: footer;
  }

  .holygrail nav {
    grid-area: nav;
  }

  .holygrail aside {
    grid-area: aside;
  }

  .holygrail article {
    grid-area: article;
    min-width: 18.5em;
  }

/* semantic responsive CSS-grid holygrail */
  article.debug.holygrail * {
    outline: 1px solid lime;
    /*background: rgba(50,50,50,0.2);*/
  }

  article.holygrail {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav article aside"
      "footer footer footer";
    grid-template-columns: 12.5em 1fr 12.5em;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1em;
    height: 100%;
  }

  article.holygrail nav {
    margin-left: 0.5em;
  }

  article.holygrail aside {
    margin-right: 0.5em;
  }

  @media (max-width: 767.98px) {
    article.holygrail {
      grid-template-areas:  
        "header"
        "nav"
        "article"
        "aside"
        "footer";
      grid-template-columns: 1fr;
      grid-template-rows:
        auto
        minmax(5em, auto)
        1fr
        minmax(5em, auto)
        auto;
    }

    article.holygrail nav, 
    article.holygrail aside {
      margin: 0;
    }
  }
